## Добрый день если вы это читаете значит я не успел сделать третью лабу до того как вы её проверите.

In [1]:
# считывает MovieLens
from os import path
import pandas as pd

data_dir = "./ml-latest-small"

def read_csv(filename: str):
    data = pd.read_csv(path.join(data_dir, filename + ".csv"))
    return data

In [2]:
movies = read_csv("movies")
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [3]:
movies.describe()

             movieId
count    9125.000000
mean    31123.291836
std     40782.633604
min         1.000000
25%      2850.000000
50%      6290.000000
75%     56274.000000
max    164979.000000

In [4]:
tags = read_csv("tags")

   userId  movieId                      tag   timestamp
0      15      339  sandra 'boring' bullock  1138537770
1      15     1955                  dentist  1193435061
2      15     7478                 Cambodia  1170560997
3      15    32892                  Russian  1170626366
4      15    34162              forgettable  1141391765

In [5]:
tags.describe()

            userId        movieId     timestamp
count  1296.000000    1296.000000  1.296000e+03
mean    417.026235   42278.949846  1.324337e+09
std     142.183440   44628.345568  1.093886e+08
min      15.000000       1.000000  1.137217e+09
25%     346.000000    2988.000000  1.243455e+09
50%     431.000000   26958.500000  1.342849e+09
75%     547.000000   72268.250000  1.440380e+09
max     663.000000  164979.000000  1.476651e+09

In [14]:
mov_tag = pd.merge(movies, tags, on='movieId')

In [20]:
mov_tag.describe()

             movieId       userId     timestamp     movie_id
count    1296.000000  1296.000000  1.296000e+03  1296.000000
mean    42278.949846   417.026235  1.324337e+09   332.236111
std     44628.345568   142.183440  1.093886e+08   201.761891
min         1.000000    15.000000  1.137217e+09     0.000000
25%      2988.000000   346.000000  1.243455e+09   148.750000
50%     26958.500000   431.000000  1.342849e+09   341.500000
75%     72268.250000   547.000000  1.440380e+09   496.250000
max    164979.000000   663.000000  1.476651e+09   688.000000

In [18]:
mov_tag.head(30)

,movieId,title,genres,userId,tag,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,501,Pixar,1292956344
1,5,Father of the Bride Part II (1995),Comedy,431,steve martin,1140455432
2,47,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,364,biblical,1444534976
3,47,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,364,crime,1444534982
4,47,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,364,dark,1444534994
5,47,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,364,disturbing,1444534971
6,47,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,364,greed,1444534998
7,47,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,364,horror,1444534981
8,47,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,364,serial killer,1444534961
9,47,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,364,violent,1444534985
10,47,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,501,psychology,1292956276
11,47,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,501,twist ending,1292956362
12,50,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,364,thriller,1444534932
13,104,Happy Gilmore (1996),Comedy,297,adam sandler,1318706504
14,111,Taxi Driver (1976),Crime|Drama|Thriller,423,cult film,1354033605
15,111,Taxi Driver (1976),Crime|Drama|Thriller,423,Martin Scorsese,1354033608
16,111,Taxi Driver (1976),Crime|Drama|Thriller,423,social commentary,1354033602
17,150,Apollo 13 (1995),Adventure|Drama|IMAX,23,Ron Howard,1148672905
18,150,Apollo 13 (1995),Adventure|Drama|IMAX,431,tom hanks,1165548454
19,153,Batman Forever (1995),Action|Adventure|Comedy|Crime,313,Ei muista,1168879424
20,186,Nine Months (1995),Comedy|Romance,431,hugh grant,1140455419
21,215,Before Sunrise (1995),Drama|Romance,431,ethan hawke,1165548716
22,215,Before Sunrise (1995),Drama|Romance,547,holes90s,1342849999
23,232,Eat Drink Man Woman (Yin shi nan nu) (1994),Comedy|Drama|Romance,364,aging,1444531181
24,232,Eat Drink Man Woman (Yin shi nan nu) (1994),Comedy|Drama|Romance,364,Ang Lee,1444531177
25,232,Eat Drink Man Woman (Yin shi nan nu) (1994),Comedy|Drama|Romance,364,cooking,1444531178
26,232,Eat Drink Man Woman (Yin shi nan nu) (1994),Comedy|Drama|Romance,364,food,1444531186
27,232,Eat Drink Man Woman (Yin shi nan nu) (1994),Comedy|Drama|Romance,364,relationships,1444531173
28,236,French Kiss (1995),Action|Comedy|Romance,431,meg ryan,1140455397
29,246,Hoop Dreams (1994),Documentary,431,school,1140455370

In [57]:
ratings = read_csv("ratings")

# перекодируем id с пробелами в плотные
mov_tag["movie_id"] = mov_tag["movieId"].astype("category").cat.codes.copy()
mov_tag["tag_id"] = mov_tag["tag"].astype("category").cat.codes.copy()

In [21]:
# функция, которая красиво печатает информацию о разреженных матрицах
from scipy.sparse import csr_matrix

def sparse_info(sparse_matrix: csr_matrix) -> None:
    print("Размерности матрицы: {}".format(sparse_matrix.shape))
    print("Ненулевых элементов в матрице: {}".format(sparse_matrix.nnz))
    print("Доля ненулевых элементов: {}"
          .format(sparse_matrix.nnz / sparse_matrix.shape[0] / sparse_matrix.shape[1])
    )
    print("Среднее значение ненулевых элементов: {}".format(sparse_matrix.data.mean()))
    print("Максимальное значение ненулевых элементов: {}".format(sparse_matrix.data.max()))
    print("Минимальное значение ненулевых элементов: {}".format(sparse_matrix.data.min()))

In [22]:
from scipy.sparse import csr_matrix
import numpy as np

In [24]:
last_movie_id = mov_tag["movie_id"].max()
last_tag_id = mov_tag["movie_id"].max()

In [30]:
# переводим матрицу взаимодействий пользователей и объектов к разреженному виду
from scipy.sparse import csr_matrix
import numpy as np




movie_x_tag = mov_tag[["movie_id", "tag"]].as_matrix()
movie_x_tag

array([[0, 'Pixar'],
       [1, 'steve martin'],
       [2, 'biblical'],
       ...,
       [686, 'toplist16'],
       [687, 'tivo'],
       [688, 'tivo']], dtype=object)

In [54]:
data = []
for i in mov_tag['tag']:
    data.append(1)

In [67]:
from scipy.sparse import coo_matrix
import numpy as np
movie_tag_matrix = coo_matrix((
    data,
    (
        mov_tag["movie_id"],
        mov_tag["tag_id"]
    )
))

In [58]:
test_indices = np.random.choice(
    ratings.index.values,
    replace=False,
    size=int(len(ratings.index.values) * 0.2)
)
test_data = ratings.iloc[test_indices]
train_data = ratings.drop(test_indices)

In [61]:
train_data.shape

(80004, 4)

In [68]:
sparse_info(movie_tag_matrix)

Размерности матрицы: (689, 582)
Ненулевых элементов в матрице: 1296
Доля ненулевых элементов: 0.0032319363188843832
Среднее значение ненулевых элементов: 1.0
Максимальное значение ненулевых элементов: 1
Минимальное значение ненулевых элементов: 1

In [70]:
# train the model on a sparse matrix of item/user/confidence weights
import implicit
import time
start = time.time()
model = implicit.als.AlternatingLeastSquares(factors=50, iterations=50, regularization=0.01)
print("строим матрицу схожести по ALS")
model.fit(movie_tag_matrix)
print("построили матрицу схожести по ALS за {} секунд".format(
        time.time() - start))

WARNING:root:OpenBLAS detected. Its highly recommend to set the environment variable 'export OPENBLAS_NUM_THREADS=1' to disable its internal multithreading

строим матрицу схожести по ALS
построили матрицу схожести по ALS за 2.5817790031433105 секунд

In [ ]:
pre = []
print("получаем рекомендации для всех пользователей")
start = time.time()
user_plays = plays.T.tocsr()
for user_id in test_data["user_id"].unique():
    for artist_id, score in model.recommend(user_id, user_plays):
         pre.append((user_id, artist_id, score))
print("получили рекомендации для всех пользователей за {} секнуд".format(
        time.time() - start))

In [ ]:
from lightfm import LightFM
from lightfm.evaluation import precision_at_k, reciprocal_rank

# обучаем абы какую модель
model = LightFM(loss="bpr")
model.fit(
    train_data,
    num_threads=4
)

train_mrr = reciprocal_rank(model, train_data).mean()
test_mrr = reciprocal_rank(model, test_data).mean()
print('MRR: train %.2f, test %.2f.' % (train_mrr, test_mrr))
for k in [5, 10, 15, 20]:
    train_precision = precision_at_k(model, train_data, k=k).mean()
    test_precision = precision_at_k(model, test_data, k=k).mean()
    print('Precision@%d: train %.2f, test %.2f.' % (k, train_precision, test_precision))

In [ ]:
# выберем информацию по жанрам фильмов
movies_genres = ratings[["movieId", "movie_id"]].drop_duplicates().join(
    movies,
    on="movieId",
    rsuffix="codes",
    lsuffix="movies",
    sort=True
).fillna("None")[["movie_id", "genres"]]
movies_genres["genres_set"] = movies_genres["genres"].apply(lambda x: set(x.split("|")))
movies_genres.head()

In [ ]:
# все возможные жанры
from functools import reduce

reduce(lambda acc, ele: acc.union(ele), movies_genres["genres_set"].tolist(), set())

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

# приравняем None и (no genres listed)
movies_genres.loc[movies_genres["genres"] == "(no genres listed)", "genres"] = "None"
# уберём все спецсимволы, кроме |
movies_genres["genres"] = movies_genres["genres"].apply(
    lambda x: x.replace("-", "")
)

movies_features = CountVectorizer().fit_transform(movies_genres["genres"])
movies_features

In [ ]:
print(movies_genres["genres"][:1])
print(movies_features[0].todense())

In [ ]:
# добавляем к movie_id ещё и информацию о жанрах
from scipy.sparse import hstack, identity

features = hstack([
    identity(movies_genres.shape[0]),
    movies_features
])

In [ ]:
features

In [ ]:
# обучаем модель с жанрами
hybrid = LightFM(loss="bpr")
hybrid.fit(
    train_data,
    num_threads=4,
    item_features=features
)

train_mrr = auc_score(hybrid, train_data, item_features=features).mean()
test_mrr = auc_score(hybrid, test_data, item_features=features).mean()
print('MRR: train %.2f, test %.2f.' % (train_mrr, test_mrr))
#for k in [5, 10, 15, 20]:
    #train_precision = precision_at_k(hybrid, train_data, item_features=features, k=k).mean()
    #test_precision = precision_at_k(hybrid, test_data, item_features=features, k=k).mean()
#print('Precision@%d: train %.2f, test %.2f.' % (k, train_precision, test_precision))