In [1]:
# считывает MovieLens
from os import path
import pandas as pd

data_dir = "./ml-latest-small"

def read_csv(filename: str):
    data = pd.read_csv(path.join(data_dir, filename + ".csv"))
    return data

ratings = read_csv("ratings")
movies = read_csv("movies")
tags = read_csv("tags")

In [2]:
mov_tag = pd.merge(movies, tags, how = 'left')

In [3]:
mov_tag.head()

,movieId,title,genres,userId,tag,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,501.0,Pixar,1.292956e+09
1,2,Jumanji (1995),Adventure|Children|Fantasy,NaN,NaN,NaN
2,3,Grumpier Old Men (1995),Comedy|Romance,NaN,NaN,NaN
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,NaN,NaN,NaN
4,5,Father of the Bride Part II (1995),Comedy,431.0,steve martin,1.140455e+09

In [4]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [5]:
tags.head()

   userId  movieId                      tag   timestamp
0      15      339  sandra 'boring' bullock  1138537770
1      15     1955                  dentist  1193435061
2      15     7478                 Cambodia  1170560997
3      15    32892                  Russian  1170626366
4      15    34162              forgettable  1141391765

In [6]:
mov_tag.dropna(inplace=True)
#tag.fillna("None", inplace=True)

In [7]:
mov_tag.head()

,movieId,title,genres,userId,tag,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,501.0,Pixar,1.292956e+09
4,5,Father of the Bride Part II (1995),Comedy,431.0,steve martin,1.140455e+09
45,47,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,364.0,biblical,1.444535e+09
46,47,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,364.0,crime,1.444535e+09
47,47,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,364.0,dark,1.444535e+09

In [8]:
mov_tag.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1296 entries, 0 to 9731
Data columns (total 6 columns):
movieId      1296 non-null int64
title        1296 non-null object
genres       1296 non-null object
userId       1296 non-null float64
tag          1296 non-null object
timestamp    1296 non-null float64
dtypes: float64(2), int64(1), object(3)
memory usage: 70.9+ KB

In [9]:
mov_tag["movie_id"] = mov_tag["movieId"].astype("category").cat.codes.copy()+1
mov_tag["tag_id"] = mov_tag["tag"].astype("category").cat.codes.copy()+1

In [53]:
mov_tag.head()

,movieId,title,genres,userId,tag,timestamp,movie_id,tag_id
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,501.0,Pixar,1.292956e+09,1,108
4,5,Father of the Bride Part II (1995),Comedy,431.0,steve martin,1.140455e+09,2,504
45,47,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,364.0,biblical,1.444535e+09,3,196
46,47,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,364.0,crime,1.444535e+09,3,240
47,47,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,364.0,dark,1.444535e+09,3,249

In [11]:
# функция, которая красиво печатает информацию о разреженных матрицах
from scipy.sparse import csr_matrix

def sparse_info(sparse_matrix: csr_matrix) -> None:
    print("Размерности матрицы: {}".format(sparse_matrix.shape))
    print("Ненулевых элементов в матрице: {}".format(sparse_matrix.nnz))
    print("Доля ненулевых элементов: {}"
          .format(sparse_matrix.nnz / sparse_matrix.shape[0] / sparse_matrix.shape[1])
    )
    print("Среднее значение ненулевых элементов: {}".format(sparse_matrix.data.mean()))
    print("Максимальное значение ненулевых элементов: {}".format(sparse_matrix.data.max()))
    print("Минимальное значение ненулевых элементов: {}".format(sparse_matrix.data.min()))

In [12]:
from scipy.sparse import csr_matrix
import numpy as np

In [13]:
data = []
for i in mov_tag["movie_id"]:
    data.append(1)
last_movie_id = len(mov_tag["movie_id"])
last_tag_id = len(mov_tag["tag_id"])

In [14]:
# Создаем матрицу  movies tags
from scipy.sparse import coo_matrix
import numpy as np
movie_tag_matrix = coo_matrix((
    data,
    (
        mov_tag["movie_id"],
        mov_tag["tag_id"]
    )
))

sparse_info(movie_tag_matrix)

Размерности матрицы: (690, 583)
Ненулевых элементов в матрице: 1296
Доля ненулевых элементов: 0.003221716757401745
Среднее значение ненулевых элементов: 1.0
Максимальное значение ненулевых элементов: 1
Минимальное значение ненулевых элементов: 1

In [74]:
import implicit

In [76]:
#  Строим матрицу схожести по тегам и фильмам.
import time
from implicit.nearest_neighbours import CosineRecommender

model_movie_tag = CosineRecommender()
print("строим матрицу схожести по косинусной мере")
start = time.time()
model_movie_tag.fit(movie_tag_matrix)
print("построили матрицу схожести по косинусной мере за {} секунд".format(
        time.time() - start))
sparse_info(model_movie_tag.similarity)

строим матрицу схожести по косинусной мере
построили матрицу схожести по косинусной мере за 0.011997699737548828 секунд
Размерности матрицы: (690, 690)
Ненулевых элементов в матрице: 8368
Доля ненулевых элементов: 0.017576139466498636
Среднее значение ненулевых элементов: 0.8192017135212837
Максимальное значение ненулевых элементов: 1.0000000000000002
Минимальное значение ненулевых элементов: 0.0

In [ ]:
# Получаем персональные рекомендации для пользователей из обучающего и тестого сетов по kNN и матрице схожести по тегам.

In [58]:
from lightfm import LightFM
from lightfm.evaluation import precision_at_k, reciprocal_rank, recall_at_k, auc_score

In [64]:
# перекодируем id с пробелами в плотные
ratings["movie_id"] = ratings["movieId"].astype("category").cat.codes.copy()
ratings["user_id"] = ratings["userId"].astype("category").cat.codes.copy()
last_movie_id = ratings["movie_id"].max()
last_user_id = ratings["user_id"].max()

In [65]:
user_x_item = ratings[["user_id", "movie_id"]].as_matrix()
mean_rating = ratings["rating"].mean()
user_item_matrix = csr_matrix(
    (
        (ratings["rating"] > mean_rating).tolist(),
        (
            [pair[0] for pair in user_x_item],
            [pair[1] for pair in user_x_item],
        )
    ),
    shape=(last_user_id + 1, last_movie_id + 1),
    dtype=np.float32
)

sparse_info(user_item_matrix)

Размерности матрицы: (671, 9066)
Ненулевых элементов в матрице: 100004
Доля ненулевых элементов: 0.016439141608663475
Среднее значение ненулевых элементов: 0.5156593918800354
Максимальное значение ненулевых элементов: 1.0
Минимальное значение ненулевых элементов: 0.0

In [67]:
# разобьём наблюдения на тестовую и обучающую выборки
np.random.seed(0)
test_indices = np.random.choice(
    range(user_item_matrix.nnz),
    replace=False,
    size=int(user_item_matrix.nnz * 0.2)
).tolist()
train_data = user_item_matrix.copy()
train_data.data[test_indices] = 0
train_data.eliminate_zeros()
print("размер обучающей выборки: {}".format(train_data.nnz))
test_data = user_item_matrix.copy()
test_data.data[:] = 0
test_data.data[test_indices] = user_item_matrix.data[test_indices]
test_data.eliminate_zeros()
print("размер тестовой выборки: {}".format(test_data.nnz))

размер обучающей выборки: 41289
размер тестовой выборки: 10279

In [81]:
# Получаем персональные рекомендации для пользователей из обучающего и тестого сетов по kNN и матрице схожести по тегам.
import implicit
print("получаем рекомендации для всех пользователей")
start = time.time()
movie_tag_T = movie_tag_matrix.T.tocsr()
mean_rating = ratings["rating"].mean()
for userId in ratings["userId"].unique():
    if ratings["rating"] > mean_rating:
        for userid, score in model_movie_tag.recommend(user_id, movie_tag_matrix):
            output_file.write("%s\t%s\t%s\n" % (userid, movieid, score))
print("получили рекомендации для всех пользователей за {} секнуд".format(
        time.time() - start))

получаем рекомендации для всех пользователей

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [122]:
# обучаем  модель
model = LightFM( 
    no_components=10,
    k=5, n=10, 
    loss='bpr', 
    learning_rate=0.05, 
    rho=0.95, epsilon=1e-06, 
    item_alpha=0.0, user_alpha=0.0, 
    max_sampled=10, random_state=1
)

model.fit(train_data, num_threads=1)

train_auc = auc_score(model, train_data).mean()
test_auc = auc_score(model, test_data).mean()
print('auc_score: train %.2f, test %.2f.' % (train_auc, test_auc))

train_recall = recall_at_k(model, train_data).mean()
test_recall = recall_at_k(model, test_data).mean()
print('recall_at_k: train %.2f, test %.2f.' % (train_recall, test_recall))

train_mrr = reciprocal_rank(model, train_data).mean()
test_mrr = reciprocal_rank(model, test_data).mean()
print('MRR: train %.2f, test %.2f.' % (train_mrr, test_mrr))
for k in [5, 10, 15, 20]:
    train_precision = precision_at_k(model, train_data, k=10).mean()
    test_precision = precision_at_k(model, test_data, k=10).mean()
    print('Precision@%d: train %.2f, test %.2f.' % (k, train_precision, test_precision))

auc_score: train 0.64, test 0.63.
recall_at_k: train 0.07, test 0.06.
MRR: train 0.47, test 0.18.
Precision@5: train 0.25, test 0.06.
Precision@10: train 0.25, test 0.06.
Precision@15: train 0.25, test 0.06.
Precision@20: train 0.25, test 0.06.

In [100]:
ratings.head()

   userId  movieId  rating   timestamp  movie_id  user_id
0       1       31     2.5  1260759144        30        0
1       1     1029     3.0  1260759179       833        0
2       1     1061     3.0  1260759182       859        0
3       1     1129     2.0  1260759185       906        0
4       1     1172     4.0  1260759205       931        0

In [113]:
# выберем информацию по жанрам фильмов
movies_tag = ratings[["movieId", "movie_id"]].drop_duplicates().join(
    tags,
    on="movieId",
    rsuffix="codes",
    lsuffix="movies",
    sort=True
).fillna("None")[["movie_id", "tag"]]
movies_tag["tags_set"] = movies_tag["tag"].apply(lambda x: set(x.split(" ")))
movies_tag.head()

      movie_id          tag       tags_set
495          0      dentist      {dentist}
963          1     Cambodia     {Cambodia}
351          2      Russian      {Russian}
3108         3  forgettable  {forgettable}
964          4        short        {short}

In [114]:
# все возможные теги
from functools import reduce

reduce(lambda acc, ele: acc.union(ele), movies_tag['tags_set'].tolist(), set())

{'"finest"',
 '(Full',
 '(Topless)',
 '(title)',
 '-',
 "1940's",
 'Abigail',
 'Adam',
 'Age',
 'Aging',
 'Alex',
 'Alfred',
 'Alias',
 'Amanda',
 'Andrews',
 'Ang',
 'Arquette',
 'As',
 'BDSM',
 'Batman',
 'Bill',
 'Billy',
 'Black',
 'Blindfold',
 'Bloom',
 'Bob',
 'Bondage',
 'Brad',
 'Breslin',
 'Bridges',
 'British',
 'Brothers',
 'CHRISTIAN',
 'Cage',
 'Cambodia',
 'Chow',
 'Christopher',
 'City',
 'Cleese',
 'Cole',
 'Coming',
 'Costner',
 'Cruise',
 'Dakota',
 'Depp',
 'Deschanel',
 'DiCaprio',
 'Diesel',
 'Disney',
 'Disorder',
 'Dushku',
 'E.',
 'Ei',
 'Eliza',
 'Emilio',
 'Estevez',
 'Exellent',
 'Fanning',
 'Fernando',
 'Fetish',
 'Fiction',
 'Fiennes',
 'Fillion',
 'Film',
 'Firefly',
 'Ford',
 'Freeman',
 'Frontal',
 'Frontal)',
 'Gaiman',
 'George',
 'Germany',
 'Ghibli',
 'Gibson',
 'Gilliam',
 'Gore!!!',
 'Guillermo',
 'Guillory',
 'Guy',
 'Gwenth',
 'Gwyneth',
 'Harris',
 'Harrison',
 'Hauser',
 'Hayao',
 'Helen',
 'Hitchcock',
 'Howard',
 'Hugh',
 'Human',
 'Hunt',
 'I',
 'II',
 'Imagination',
 'India',
 'Intrigued',
 'Irene',
 'Jack',
 'Jackman',
 'Jacob',
 'Jason',
 'Jeff',
 'John',
 'Johnny',
 'Jude',
 'Julie',
 'Just',
 'Katso',
 'Keaton',
 'Keira',
 'Kevin',
 'Kieslowski',
 'Knightley',
 'Kristen',
 'Krzysztof',
 'Kubrick',
 'Lame',
 'Law',
 'Lee',
 'Leonardo',
 'Long',
 'Love',
 'Lucas',
 'Mann',
 'Mark',
 'Martin',
 'Marx',
 'Matthew',
 'Mel',
 'Michael',
 'Micheal',
 'Miike',
 'Mindfuck',
 'Miyazaki',
 'Monty',
 'Morgan',
 'Mortensen',
 'Mossad',
 'Murray',
 'Nathan',
 'National',
 'Neil',
 'New',
 'Nicolas',
 'No',
 'Nolan',
 'None',
 'Notable)',
 'Nudity',
 'Orlando',
 'Overrated',
 'Paltrow',
 'Patric',
 'Patrick',
 'Pattinson',
 'Peet',
 'Perry',
 'Phenomenal!',
 'Pitt',
 'Pixar',
 'Polanski',
 'Predictable',
 'Python',
 'Quentin',
 'Quirky',
 'R:strong',
 'Ralph',
 'Registry',
 'Ritchie',
 'Robbins',
 'Robert',
 'Rock',
 'Rocks',
 'Roman',
 'Romance',
 'Ron',
 'Rosanna',
 'Russian',
 'Sandler',
 'Sanna!',
 'Science',
 'Scorsese',
 'Seen',
 'Sienna',
 'Solanas',
 'Stanley',
 'Star',
 'Stephen',
 'Steve',
 'Stewart',
 'Studio',
 'Syfy',
 'TV',
 'Takashi',
 'Tarantino',
 'Teen',
 'The',
 'Thornton',
 'Tied',
 'Tim',
 'Tom',
 'Too',
 'Toro',
 'Trek',
 'Trilogy',
 'Try',
 'Vampire',
 'Views',
 'Viggo',
 'Vin',
 'WW2',
 'Wahlberg',
 'War',
 'Warmerdam',
 'Wars',
 'Why',
 'World',
 'York',
 'Zooey',
 'a',
 'acclaimed',
 'acting',
 'action',
 'activist',
 'adam',
 'adaptation',
 'adaptation!',
 'adapted',
 'addiction',
 'adventure',
 'afi',
 'age',
 'aging',
 'akira',
 'alex',
 'aliens',
 'already!',
 'alternate',
 'amazing',
 'american',
 'an',
 'and',
 'animation',
 'anime',
 'annoying',
 'apocalypse',
 'appealing',
 'artificial',
 'arts',
 'as',
 'assassin',
 'atmospheric',
 'author:Neil',
 'aviation',
 'awesome',
 'b',
 'bad',
 'baseball',
 'based',
 'be',
 'beautiful',
 'beauty',
 'beer',
 'before',
 'best',
 'biblical',
 'billy',
 'birch',
 'bkk',
 'black',
 'bob',
 'bollywood',
 'book',
 'books',
 'boring',
 'breathtaking',
 'british',
 'brother',
 'brothers',
 'but',
 'camerawork',
 "can't",
 'carell',
 'cast',
 'character',
 'characters',
 'characters,',
 'cheezy',
 'childish',
 'cinematography',
 'claire',
 'classic',
 'claustrophobic',
 'claymation',
 'clever',
 'cocaine',
 'coen',
 'collin',
 'comedt',
 'comedy',
 'comic',
 'coming',
 'commentary',
 'concept',
 'confused',
 'content',
 'controversial',
 'cooking',
 'cool',
 'correct',
 'creative',
 'creepy',
 'crime',
 'critically',
 'criticism',
 'crude',
 'cult',
 'cursing',
 'cute',
 'daines',
 'dance',
 'dark',
 'debut',
 'del',
 'demons',
 'dentist',
 'denzel',
 'design',
 'determination',
 'development',
 'devotion',
 'dialogue',
 "didn't",
 'diluted',
 'directorial',
 'disappointing',
 'discovery',
 'disturbing',
 'documentary',
 'done',
 'drama',
 'dull',
 'dumb',
 'dvd',
 'dystopia',
 'easily',
 'eastern',
 'edward',
 'ei',
 'elegant',
 'emotional',
 'ending',
 'ensemble',
 'epic,',
 'episode',
 'escape',
 'ethan',
 'europe',
 'everything',
 'execution',
 'existentialism',
 'experiment',
 'explodey',
 'explosions',
 'fairy',
 'fairytale',
 'families',
 'family',
 'fantasy',
 'farrel',
 'fashion',
 'fat',
 'feel',
 'feel-good',
 'feminist',
 'femme-fatale',
 'fi',
 'fiction,',
 'fight',
 'film',
 'first',
 'five',
 'food',
 'footage',
 'for',
 'forest',
 'forgettable',
 'foster',
 'found',
 'franchise',
 'freedom',
 'friends',
 'friendship',
 'from:book',
 'fu',
 'fun',
 'funny',
 'funny!',
 'game',
 'gay',
 'genius',
 'genuine',
 'get',
 'getdvd',
 'girlie',
 'good',
 'grant',
 'graphic',
 'gratuitous',
 'great',
 'greed',
 'gritty',
 'group',
 'guy',
 'half',
 'hanks',
 'happiness',
 'happy',
 'hate',
 'hawke',
 'hdtv',
 'heartwarming',
 "hero's",
 'high',
 'hijacking',
 'hilarious',
 'historical',
 'historicaly',
 'hit',
 'holes00s',
 'holes40s',
 'holes60s',
 'holes70s',
 'holes80s',
 'holes90s',
 'honest',
 'horror',
 'hugh',
 'humor',
 "i'd",
 'ideea',
 'idiocy',
 'il',
 'imaginary',
 'imagination',
 'imaginative',
 'imprisonment',
 'in',
 'independent',
 'indie',
 'influence',
 'inspiring',
 'intellectual',
 'intelligence',
 'intelligent',
 'intense',
 'interesting',
 'irreverent',
 'is',
 'issues',
 'it',
 'it!',
 'jack',
 'jackman',
 'japanese',
 'jesus',
 'jimmy',
 'jodi',
 'joss',
 'journey',
 'just',
 'kids',
 'killer',
 'kung',
 'kurosawa',
 'lake',
 'life',
 'like',
 'live',
 'long',
 'look',
 'love',
 'loved',
 'low-budget',
 'lyrical',
 'mad',
 'magic',
 'magical',
 'maguire',
 'manners',
 'martial',
 'martin',
 'math',
 'mathematics',
 'max!',
 'meaning',
 'meg',
 'memories',
 'men',
 'meryl',
 'mike',
 'military',
 'mistake',
 'more?',
 'movie',
 'movie(s)',
 'movie.',
 'muista',
 'multiple',
 'music',
 'musical',
 'must',
 'myers',
 'nair',
 'narrated',
 'nascar',
 'need',
 'nerd',
 'nerds',
 'nerdy',
 'nicholson',
 'nonlinear',
 'norton',
 'not',
 'notable',
 'nudity',
 'obvious',
 'ocean',
 'of',
 'off-beat',
 'okay',
 'on',
 'only',
 'organized',
 'original',
 'other',
 'overrated',
 'pageant',
 'parody',
 'parts',
 'pettyfer',
 'philosophical',
 'philosophy',
 'phoneix',
 'photography',
 'physics',
 'pilots',
 'pirates',
 'pixar',
 'plot',
 'politics',
 'possession',
 'post-apocalyptic',
 'powerpoint',
 'powers',
 'predictable',
 'pregnancy',
 'prison',
 'privacy',
 'progress',
 'psychological',
 'psychology',
 'quirky',
 'r.',
 'r:violence',
 'racism',
 'realism',
 'reality',
 'redemption',
 'relationship',
 'relationships',
 'relativity',
 'renee',
 'revenge',
 'rich',
 'road',
 'robots',
 'rock',
 'rogue!',
 'roll',
 'romance',
 'romantic',
 'run',
 'ryan',
 'sad',
 'sandler',
 'satire',
 'satirical',
 'say',
 'scary',
 'scenery',
 'school',
 'sci',
 'sci-fi',
 'science',
 'scientist',
 'script',
 'see',
 'seen',
 'self',
 'sentimental',
 'sequel',
 'serial',
 'series',
 'sexist',
 'sexual',
 'sexy',
 'shakespeare',
 'short',
 'show',
 'siblings',
 'sightsound',
 'sister',
 'slow',
 'snorefest',
 'social',
 'sort',
 'soundtrack',
 'space',
 'spock',
 'stand',
 'standard',
 'star',
 'starship',
 'starwars',
 'stereotypes',
 'steve',
 'stewart',
 'still',
 'story',
 'story,',
 'storyline',
 'storylines',
 'storytelling',
 'streep',
 'structure',
 'stupid',
 'stupidity',
 'style',
 'stylized',
 'sufficiently',
 'super-hero',
 'superhero',
 'supernatural',
 'surreal',
 'surrealism',
 'survival',
 'suspense',
 'sword',
 'tale',
 'tales',
 'tcm',
 'technology',
 'teen',
 'teenagers',
 'teleportation',
 'terrible',
 'terrorists',
 'that',
 'the',
 'this',
 'thora',
 'thorton',
 'thrilled',
 'thriller',
 'time',
 'times',
 'tivo',
 'to',
 'tobey',
 'tom',
 'too',
 'toplist05',
 'toplist06',
 'toplist07',
 'toplist08',
 'toplist09',
 'toplist10',
 'toplist11',
 'toplist12',
 'toplist13',
 'toplist14',
 'toplist15',
 'toplist16',
 'tosee',
 'touching',
 'tragedy',
 'travel',
 'trip',
 'true',
 'twist',
 'uganda',
 'unique',
 'universe',
 'unusual',
 'us',
 'vampire',
 'vampires',
 'van',
 'vengeance',
 'version',
 'very',
 'video',
 'vigilantism',
 'violence',
 'violent',
 'virtual',
 'visceral',
 'visually',
 'war',
 'washington',
 'weird',
 'well',
 'whedon',
 'whimsical',
 'who',
 'winning',
 'with',
 'witty',
 'witty!',
 'work',
 'world,',
 'worth',
 'wrongful',
 'your',
 'z',
 'zombies'}

In [115]:
from sklearn.feature_extraction.text import CountVectorizer

# приравняем None и (no genres listed)
movies_tag.loc[movies_tag["tag"] == "(no tags listed)", "tag"] = "None"
# уберём все спецсимволы
movies_tag["tag"] = movies_tag["tag"].apply(
    lambda x: x.replace("-", "")
)

movies_features = CountVectorizer().fit_transform(movies_tag["tag"])
movies_features

<9066x664 sparse matrix of type '<class 'numpy.int64'>'
	with 9529 stored elements in Compressed Sparse Row format>

In [126]:
sparse_info(test_data)

Размерности матрицы: (671, 9066)
Ненулевых элементов в матрице: 10279
Доля ненулевых элементов: 0.0016897117774834192
Среднее значение ненулевых элементов: 1.0
Максимальное значение ненулевых элементов: 1.0
Минимальное значение ненулевых элементов: 1.0

In [116]:
print(movies_tag["tag"][:1])
print(movies_features[0].todense())

495    dentist
Name: tag, dtype: object
[[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]]

In [117]:
# добавляем к movie_id ещё и информацию о тегах
from scipy.sparse import hstack, identity

features = hstack([
    identity(movies_tag.shape[0]),
    movies_features
])

In [128]:
features

<9066x9730 sparse matrix of type '<class 'numpy.float64'>'
	with 18595 stored elements in COOrdinate format>

In [130]:
hybrid = LightFM( 
    no_components=10,
    k=5, n=10, 
    loss='bpr', 
    learning_rate=0.05, 
    rho=0.95, epsilon=1e-06, 
    item_alpha=0.0, user_alpha=0.0, 
    max_sampled=10, random_state=1
)

hybrid.fit(train_data, item_features = features, num_threads=1)

train_auc = auc_score(hybrid, train_data, item_features=features).mean()
test_auc = auc_score(hybrid, test_data, item_features=features).mean()
print('auc_score: train %.2f, test %.2f.' % (train_auc, test_auc))

train_recall = recall_at_k(hybrid, train_data, item_features=features).mean()
test_recall = recall_at_k(hybrid, test_data, item_features=features).mean()
print('recall_at_k: train %.2f, test %.2f.' % (train_recall, test_recall))

train_mrr = reciprocal_rank(hybrid, train_data, item_features=features).mean()
test_mrr = reciprocal_rank(hybrid, test_data, item_features=features).mean()
print('MRR: train %.2f, test %.2f.' % (train_mrr, test_mrr))
for k in [5, 10, 15, 20]:
    train_precision = precision_at_k(hybrid, train_data, k=10, item_features=features).mean()
    test_precision = precision_at_k(hybrid, test_data, k=10, item_features=features).mean()
    print('Precision@%d: train %.2f, test %.2f.' % (k, train_precision, test_precision))

auc_score: train 0.72, test 0.70.
recall_at_k: train 0.07, test 0.06.
MRR: train 0.46, test 0.16.
Precision@5: train 0.24, test 0.06.
Precision@10: train 0.24, test 0.06.
Precision@15: train 0.24, test 0.06.
Precision@20: train 0.24, test 0.06.